BODY {
	background-color:#000000;
	color:#777777;
	background-image:url(background.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:100% 100%;
	}
a {text-shadow: 0px 0px 12px #ffffff;}
a:link {color:#ffffff; text-decoration:none;}
a:hover {color:#ffffff; text-decoration:underline;}
a:visited {color:#ffffff;}
address {color:#000000; display:none;}
HR {width:100%;box-shadow: 0px 0px 10px #aaa;color:#aaa;}
iframe {box-shadow: 0px 0px 10px #aaa;}
DIV.slab {
	background-image:url(tile.png);
	box-shadow: 0px 0px 10px #aaa;
	opacity: 0.9;
	border-style: ridge;
	/*border-color: #161616;*/
	border-color: #161616;
	border-width: 3px 3px 3px 3px;
	background-color:#080808;
	border-radius: 4px 0px 10px 1px;
	border-top-right-radius: 0px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 10px;
}

DIV.cube {
	background-image:url(tile.png);
	box-shadow: 0px 0px 10px #aaa;
	opacity: 0.9;
	border-style: ridge;
	border-color: #161616;
	border-width: 3px 3px 3px 3px;
	background-color:#080808;
	border-radius: 0px 0px 0px 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

DIV.header {
	background-image:url(tile.png);
	box-shadow: 0px 0px 10px #aaa;
	opacity: 0.9;
	border-style: ridge;
	border-color: #161616;
	border-width: 3px 3px 3px 3px;
	background-color:#080808;
	border-radius: 4px 10px 0px 0px;
	border-top-right-radius: 10px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

DIV.footer {
	background-image:url(tile.png);
	box-shadow: 0px 0px 10px #aaa;
	opacity: 0.9;
	border-style: ridge;
	border-color: #161616;
	border-width: 3px 3px 3px 3px;
	background-color:#080808;
	border-radius: 0px 0px 10px 1px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 10px;
}